.wrapper {
    background-image: url(../images/subtle_background.png)
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

.header_items {
    background-color: #ffffff;
    width: 960px;
    height:82px;
    margin: 0 auto;
    /* position: relative; */
}

#name {
    background-color: #4aaaa5;
    width: 200px;
    padding: 24px 0px;
    float: left;
}

h1  {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    text-align: center;
    /* float: left; */
}

ul {
    float: right;
    width: 760px;
    text-align: right;
    margin: 24px 0px auto;
}

li {
    display: inline;
    border-right: 1px solid #777777;
    padding: 6px;
}

li:last-child {
    border-right: none;
}

a {
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 28px;
}

.maintext {
    margin: 24px auto 48px;
    background-color: #ffffff;
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dddddd;
}

h2 {
    color: #4aaaa5;
    font-size: 34px;
    border-bottom: 4px solid #dddddd;
    margin: 6px;
    padding: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

#prof_pic {
    float: left;
    margin: 12px;
    border: 2px solid #dddddd;
}

.info {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 12px;
    line-height: 34px;
}

#soundcloud {
    color: #0645AD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    /* padding: 12px; */
    line-height: 34px;
}

footer {
    background-color: #666666;
    border-top: 9px solid #4aaaa5;
}

.copyright {
        color: #777777;
        text-align: center;
        padding: 56px 0px 8px;
}

form {
    margin: 12px;
    color: #777777;
}

input {
    width:100%;
    margin: 8px 0px;
}

.form_text {

}

textarea {
    width:100%;
    margin: 8px 0px;
}

.submit {
    background-color: #4aaaa5;
    width: 10%;
    color: #ffffff;
    padding: 10px;
}

.port_div1 {
    float: left;
    margin: 30px 30px 0px 30px;
}

.port_div2 {
    float: left;
    margin: 0px 30px 0px 30px;
}

.port_text {
    position: relative;
    text-align: center;
    bottom: 80px;
    background-color: #4aaaa5;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 18px 0px;
}

.port_img {
    border: 2px solid #dddddd;
}

#trivia {
    clear: left;
}

#rock {
    clear: left;
}

#clearfix {
    overflow: auto;
  }